<footer id="" class="bg-white text-muted mb-0 fixed-bottom">
    <div class="card-footer text-center text-muted bg-white ">
        Designed by WillDeveloped | Copyright 2019 | Version 1.0.0 
    </div>
</footer>