<div class="jumbotron jumbotron-fluid text-center">
    <div class="container">
        <h1 class="display-4">404 Redirect Error </h1>
         <p class="lead">The location you attempted to reach does not exsist.</p>
        
        
    </div>
</div>