<div class="jumbotron jumbotron-fluid text-center">
    <div class="container">
        <h1 class="display-4">Node JS Home page</h1>
        <p class="lead">Login to view tasks</p>
        <form action="/login">
            <button type="submit" class="btn btn-primary btn-md text-center" disabled>Login</button>
        </form>
    </div>
</div>