<div class="jumbotron jumbotron-fluid text-center bg-light">
  <div class="container">
    <h1 class="display-4">User Dashboard</h1>
    <p class="lead">{{user.title}} {{user.firstName}}, Welcome to the Dashboard. Select the Task you would like to do:</p>
  </div>
<nav class="navbar navbar-expand-no justify-content-center navbar-light bg-light">
  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="production">Production</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="quality">Quality Assurance</a>
      </li>
       <li class="nav-item">
        <a class="nav-link" href="inventory">Inventory Management</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="sales">Sales</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="order">Order Entry / Invoicing</a>
      </li>
      {{#if user.admin}}
      <li class="nav-item">
        <a class="nav-link" href="admin">Admin Panel</a>
      </li>{{else}}{{/if}}
    </ul>
  </div>
</nav>
</div>