<div class="jumbotron jumbotron-fluid text-center">
    <div class="container">
        <h1 class="display-4">Quality Portal </h1>
         <p class="lead">Your account is pending approval from an Admin.</p>
        
        
    </div>
</div>