<div class="jumbotron jumbotron-fluid text-center">
    <div class="container">
        <h1 class="display-4">Quality Portal </h1>
         <p class="lead">You are not authorized to view this. Please login with an Authorized Account to continue. For further questions contact the administrator.</p>
        
        <form action="/login">
            <button type="submit" class="btn btn-primary btn-md text-center">Login</button>
        </form>
    </div>
</div>